@use "src/utils" as *;

.HerbPage {
  text-align: center;
  position: relative;
  margin: auto;

  h2 {
    margin-top: 2em;
  }

  .HerbContent {
    text-align: right;
    min-height: 100vh;
    padding: 2em;
    padding-right: 0;
    box-sizing: border-box;
    margin-right: 300px;
  }

  .herbPhoto {
    width: 1000px;
    height: 100%;
    position: absolute;
    right: 800px;
    top: 0;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    // background-color: $bg-color;
    mix-blend-mode: multiply;
    background-size: 1000px auto;
  }
}
