@use "src/utils" as *;

.AllRecipesPage {
  h1 {
    text-align: center;
  }
  @media screen and (max-width: $mobile-width) {
    .RecipePreview {
      width: 100%;
      padding: 0;
      padding-bottom: 1em;
    }
  }
}
