@use "src/utils" as *;

.HerbTree {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  box-sizing: border-box;
  transition: transform 600ms ease-in, opacity $transition-defaults;
  position: fixed;
  direction: ltr;
  &::-webkit-scrollbar {
    display: none;
  }

  @media screen and (max-width: $tablet-width) {
    overflow-x: scroll;

    .treeContainer {
      width: $tablet-width;
    }
  }

  svg {
    pointer-events: none;
  }
  &.interactive svg {
    pointer-events: all !important;
  }
  .textGroup {
    transition: opacity $transition-defaults;
    transition-delay: 600ms;
  }
}

.treeContainer {
  direction: rtl;
  position: relative;
  transition: transform $transition-defaults;
  width: 100%;
  svg {
    text-rendering: optimizeSpeed;
    image-rendering: optimizeSpeed;
    box-sizing: border-box;
    width: 100%;
  }
}
.hidden {
  opacity: 0;
}

.minimal {
  overflow-y: hidden;
  .textGroup {
    opacity: 0;
    transition-delay: 0s;
  }
  .node {
    &.leaf:not(.highlighted) {
      stroke: $bg-color;
      fill: #ddd !important;
      fill-opacity: 1 !important;
      stroke-width: 8px;
      transition: fill-opacity $transition-defaults;

      circle {
        transform-origin: 0 0;
        transform: scale(0.18);
      }
    }

    &.internode {
      fill: #ddd !important;
    }
  }

  .link {
    stroke: #ddd !important;
    stroke-opacity: 1;
    transition: stroke-opacity $transition-defaults;
  }
}

.inactive {
  .node:not(.active) {
    &.leaf {
      fill-opacity: 0.9 !important;

      circle {
        transform: scale(1);
      }
    }

    &.internode {
      fill: lighten(#999, 30%) !important;
    }
  }
  .link:not(.active) {
    stroke-opacity: 0.2 !important;
  }
  .nodeText:not(.active) {
    fill: lighten($text-color, 70%);
  }
}

.HerbTree {
  .node {
    cursor: pointer;

    &.leaf {
      fill: $bg-color;
      fill-opacity: 0;
      transition: fill-opacity $transition-defaults;

      image {
        transform-origin: 0 10px;
        z-index: 100;
      }
    }

    &.internode {
      fill: #ccc;
      transition: fill $transition-defaults;
      paint-order: stroke fill;
      stroke-width: 2.5;
      stroke: $bg-color;
      transition: fill $transition-defaults, stroke $transition-defaults;
      cursor: help;

      &.moreInfo {
        fill: #aaa;
        opacity: 1;
      }
    }
  }

  .link {
    stroke: #ccc;
    stroke-opacity: 1;
    transition: stroke-opacity $transition-defaults;
  }

  .nodeText {
    fill: $text-color;
    fill-opacity: 0;
    stroke-opacity: 0;
    paint-order: stroke fill;
    stroke: $bg-color;
    stroke-width: 0.4em;
    font-size: 0.5em;
    user-select: none;
    text-align: center;
    transition: fill-opacity $transition-defaults,
      stroke-opacity $transition-defaults, fill $transition-defaults;
    // pointer-events: none;
    font-weight: 600;

    &.visible {
      fill-opacity: 1;
      stroke-opacity: 1;
    }
  }

  .DebugMenu {
    position: fixed;
    left: 2em;
    top: 4em;
    display: block;
    margin: auto;
    z-index: 100;
    display: flex;
    flex-direction: column;

    button {
      margin: 0.5em;
    }
  }
}

.tooltipContainer {
  width: 340px;
  // height: 150px;
  user-select: none;
  pointer-events: none;
  line-height: 1.5em;
  position: absolute;
  top: 50%;
  right: 50%;

  p {
    font-weight: 400;
    margin: 0.2rem 0;
  }
  h4 {
    margin: 0;
    font-weight: 800;
    span {
      font-weight: 400;
    }
  }
  .tooltip {
    img {
      position: absolute;
      top: 0.5em;
      right: -4.25em;
      height: 4em;
      width: 4em;
    }

    width: 100%;
    font-weight: 600;
    display: block;
    position: absolute;
    user-select: none;
    pointer-events: none;
    // background-color: rgba($bg-color, 0.5);
    margin: 0.3em;
  }
}

.Logo {
  position: fixed;
  top: 0em;
  width: 100vw;
  text-align: center;
  font-size: 4em;
  pointer-events: none;
  z-index: 101;
  transition: opacity $transition-defaults;
  font-weight: 400;

  @media screen and (max-width: $mobile-width) {
    top: 0em;
    font-size: 2.5em;
  }
}
