@use "src/utils" as *;

.HerbTree {
  width: 100vw;
  box-sizing: border-box;
  transition: transform 350ms ease-out;
}

svg {
  // shape-rendering: optimizeSpeed;
  text-rendering: optimizeSpeed;
  image-rendering: optimizeSpeed;
}

.graphContainer {
  box-sizing: border-box;
  width: 100vw;
}

.hidden {
  display: none;
}

.minimal {
  opacity: 0.6;
  position: fixed;
  pointer-events: none;
  transform: translateX(600px) translateY(-150px) rotate(-20deg);

  .textGroup {
    opacity: 0;
  }
  .node {
    &.leaf {
      stroke: $bg-color;
      fill: #ccc !important;
      fill-opacity: 1 !important;
      stroke-width: 10px;
      transition: fill-opacity $transition-defaults;

      circle {
        transform-origin: 0 0;
        transform: scale(0.2, 0.2);
      }

      image {
        display: none;
      }
    }

    &.internode {
      fill: #ccc !important;
      stroke-width: 3 !important;
      stroke-opacity: 1 !important;
    }
  }

  .link {
    stroke: #ccc;
    stroke-width: 1;
    stroke-opacity: 1;
    // stroke-linecap: round;
    transition: stroke-opacity $transition-defaults;
  }
}

.inactive {
  .node:not(.active) {
    &.leaf {
      fill-opacity: 0.9 !important;
    }

    &.internode {
      fill: lighten(#999, 30%) !important;
    }
  }
  .link:not(.active) {
    stroke-opacity: 0.2 !important;
  }
  .nodeText:not(.active) {
    fill: lighten($text-color, 70%);
  }
}

.HerbTree {
  .node {
    cursor: pointer;

    &.leaf {
      fill: $bg-color;
      fill-opacity: 0;
      transition: fill-opacity $transition-defaults;

      image {
        transform-origin: 0 10px;
      }
    }

    &.internode {
      fill: #ccc;
      transition: fill $transition-defaults;
      paint-order: stroke fill;
      stroke-width: 3;
      stroke: $bg-color;
      transition: fill $transition-defaults, stroke $transition-defaults;
      cursor: help;

      &.family {
        fill: #999;
      }
    }
  }

  .link {
    stroke: #ccc;
    stroke-width: 1;
    stroke-opacity: 1;
    // stroke-linecap: round;
    transition: stroke-opacity $transition-defaults;
  }

  .nodeText {
    fill: $text-color;
    fill-opacity: 0;
    stroke-opacity: 0;
    paint-order: stroke fill;
    stroke: $bg-color;
    stroke-width: 0.4em;
    font-size: 0.5em;
    user-select: none;
    text-align: center;
    transition: fill-opacity $transition-defaults,
      stroke-opacity $transition-defaults, fill $transition-defaults;
    pointer-events: none;
    font-weight: 600;

    &.visible {
      fill-opacity: 1;
      stroke-opacity: 1;
    }
  }

  button {
    position: absolute;
    left: 2em;
    top: 2em;
    display: block;
    margin: auto;
    z-index: 100;
  }
}

.tooltipContainer {
  user-select: none;
  pointer-events: none;
  font-size: 0.5rem;
  line-height: 1.5em;

  p {
    font-weight: 400;
    margin: 0.2rem 0;
  }
  h4 {
    margin: 0;
    font-weight: 800;
    span {
      font-weight: 400;
    }
  }
  .tooltip {
    font-weight: 600;
    display: block;
    position: fixed;
    user-select: none;
    pointer-events: none;
    // background-color: rgba($bg-color, 0.5);
    margin: 0.3em;
  }
}
