@use "src/utils" as *;

.HerbTree {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  box-sizing: border-box;
  transition: transform 600ms ease-in, opacity $transition-defaults;
  position: fixed;
  direction: ltr;
  &::-webkit-scrollbar {
    display: none;
  }

  svg {
    pointer-events: none;
  }
  &.interactive svg {
    pointer-events: all !important;
  }
  .textGroup {
    transition: opacity $transition-defaults;
    transition-delay: 600ms;
  }
}

.treeContainer {
  direction: rtl;
  position: relative;
  transition: transform $transition-defaults;
}

svg {
  // shape-rendering: optimizeSpeed;
  text-rendering: optimizeSpeed;
  image-rendering: optimizeSpeed;
  box-sizing: border-box;
  width: 100vw;
}

.hidden {
  opacity: 0;
}

.minimal {
  .textGroup {
    opacity: 0;
    transition-delay: 0s;
  }
  .node {
    &.leaf:not(.highlighted) {
      stroke: $bg-color;
      fill: #ddd !important;
      fill-opacity: 1 !important;
      stroke-width: 8px;
      transition: fill-opacity $transition-defaults;

      circle {
        transform-origin: 0 0;
        transform: scale(0.18);
      }
    }

    &.internode {
      fill: #ddd !important;
    }
  }

  .link {
    stroke: #ddd !important;
    stroke-width: 1;
    stroke-opacity: 1;
    // stroke-linecap: round;
    transition: stroke-opacity $transition-defaults;
  }
}

.inactive {
  .node:not(.active) {
    &.leaf {
      fill-opacity: 0.9 !important;
    }

    &.internode {
      fill: lighten(#999, 30%) !important;
    }
  }
  .link:not(.active) {
    stroke-opacity: 0.2 !important;
  }
  .nodeText:not(.active) {
    fill: lighten($text-color, 70%);
  }
}

.HerbTree {
  .node {
    cursor: pointer;

    &.leaf {
      fill: $bg-color;
      fill-opacity: 0;
      transition: fill-opacity $transition-defaults;

      image {
        transform-origin: 0 10px;
      }
    }

    &.internode {
      fill: #ccc;
      transition: fill $transition-defaults;
      paint-order: stroke fill;
      stroke-width: 2.5;
      stroke: $bg-color;
      transition: fill $transition-defaults, stroke $transition-defaults;
      cursor: help;

      &.family {
        fill: #999;
      }
    }
  }

  .link {
    stroke: #ccc;
    stroke-width: 1;
    stroke-opacity: 1;
    // stroke-linecap: round;
    transition: stroke-opacity $transition-defaults;
  }

  .nodeText {
    fill: $text-color;
    fill-opacity: 0;
    stroke-opacity: 0;
    paint-order: stroke fill;
    stroke: $bg-color;
    stroke-width: 0.4em;
    font-size: 0.5em;
    user-select: none;
    text-align: center;
    transition: fill-opacity $transition-defaults,
      stroke-opacity $transition-defaults, fill $transition-defaults;
    pointer-events: none;
    font-weight: 600;

    &.visible {
      fill-opacity: 1;
      stroke-opacity: 1;
    }
  }

  button {
    position: absolute;
    left: 2em;
    top: 2em;
    display: block;
    margin: auto;
    z-index: 100;
  }
}

.tooltipContainer {
  width: 400px;
  height: 150px;
  user-select: none;
  pointer-events: none;
  font-size: 1rem;
  line-height: 1.5em;
  position: absolute;
  top: 50%;
  right: 50%;

  p {
    font-weight: 400;
    margin: 0.2rem 0;
  }
  h4 {
    margin: 0;
    font-weight: 800;
    span {
      font-weight: 400;
    }
  }
  .tooltip {
    width: 100%;
    font-weight: 600;
    display: block;
    position: absolute;
    user-select: none;
    pointer-events: none;
    // background-color: rgba($bg-color, 0.5);
    margin: 0.3em;
  }
}

.protoPlant {
  fill: #55814d;
  display: none;
}

@keyframes from360to0 {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes from0to360 {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

#Circle1 {
  animation: from0to360 1s linear infinite;
  transform-origin: -1px 0;
}

#Circle2 {
  animation: from360to0 2s linear infinite;
  transform-origin: 1px 0;
}

#Circle3 {
  animation: from0to360 3s linear infinite;
  transform-origin: 0 -1px;
}

#Circle4 {
  animation: from360to0 2.5s linear infinite;
  transform-origin: 0 1px;
}
