@use "src/utils" as *;

nav.Menu {
  position: fixed;
  z-index: 90;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: $tablet-width) {
    flex-direction: row;
    align-items: end;

    .IconButtonContainer {
      flex-direction: row !important;

      .IconButton {
        transform: rotate(-45deg);
        padding: 0.5em !important;

        img {
          transform: rotate(45deg);
        }
      }
    }
  }

  &.logoOnly {
    .IconButtonContainer {
      opacity: 0;
      pointer-events: none;
    }

    .LogoIcon img {
      opacity: 0.4;
    }
  }

  .IconButtonContainer {
    opacity: 1;
    transition: opacity $transition-defaults;
    display: flex;
    flex-direction: column;
    a {
      display: block;
    }

    .IconButton {
      padding: 0.25em 1em;
      margin-top: 0.5em;
    }
  }

  .LogoIcon {
    @include bg-noise;
    display: block;
    width: 4.5em;
    height: 4.5em;
    margin: 1em 1em 0.5em 1em;
    padding: 0.5em;
    box-sizing: border-box;
    border-radius: 500px;
    border: 2px solid rgba(0, 0, 0, 0);
    cursor: pointer;
    opacity: 1;
    position: relative;
    overflow: hidden;
    transition: background-color $transition-defaults;

    &::before {
      content: " ";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: background-color $transition-defaults;
    }

    img {
      width: 100%;
      height: 100%;
      opacity: 0.6;
      transition: opacity $transition-defaults;
    }

    &:hover {
      img {
        opacity: 0.7;
      }
      &::before {
        background-color: rgba(0, 0, 0, 0.05);
      }
    }

    &:active::before {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }
}
