@use "src/utils" as *;

.ZaatarBlends {
  display: flex;
  width: 180%;
  margin-right: 15%;
  margin-top: 1em;

  .blend {
    display: flex;
    width: 25%;
    flex-direction: column;

    .blend-title {
      text-align: center;
      font-weight: bold;
    }

    .pile {
      position: relative;

      .label {
        position: absolute;
        cursor: help;
        bottom: 0;
        left: 0;
        text-align: center;
        width: 100%;
        opacity: 0;
        transform: translateY(-10px);
        transition: opacity $transition-defaults, transform $transition-defaults;
      }

      &:hover {
        .label {
          opacity: 1;
          transform: translateY(0);
        }
      }
    }
  }

  @media screen and (max-width: $tablet-width) {
    // flex-direction: column;
    margin-right: 0;
    width: 100%;

    .blend {
      // transform: rotate(90deg);
    }
  }
}
