@use "src/utils" as *;

.RecipePage {
  padding-bottom: 8em;

  p {
    position: relative;
  }

  ol {
    padding-right: 2em;
    list-style: none;
    counter-reset: step-counter;

    li {
      counter-increment: step-counter;
      padding-left: 2em;
      box-sizing: border-box;

      &::before {
        content: counter(step-counter) ". ";
        font-weight: bold;
        position: absolute;
        right: 1.5em;
      }
    }
  }

  @media screen and (max-width: $tablet-width) {
    main {
      padding-top: 0;
    }
  }

  .RecipeMetadata {
    margin-right: 0.5em;
    margin-top: -1em;
    // margin-bottom: -1em;
    color: $text-color-light;
  }
  .RecipeHerbs {
    float: left;
    padding-top: 1em;
    @media screen and (max-width: $tablet-width) {
      float: none;
      margin-bottom: -1em;
    }
  }

  .RecipePhoto {
    width: 110%;
    margin-right: -5%;
    height: 50vh;
    max-height: 700px;
    background-color: rgba(0, 0, 0, 0.1);

    @media screen and (max-width: $mobile-width) {
      width: 120%;
      margin-right: -10%;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: opacity $transition-defaults;
      opacity: 0;

      &.loaded {
        opacity: 1;
      }
    }
  }
  .HerbPile {
    width: 180px;
    height: 180px;
    margin-top: -8em;
    margin-bottom: -1em;
    margin-right: 105%;

    @media screen and (max-width: $tablet-width) {
      margin: 0;
    }
  }

  img {
    width: 100%;
  }

  .HerbIcon {
    width: 5em;
  }

  .BayLeaves {
    margin-right: 100%;
    height: 500px;
    margin-bottom: -500px;
    object-fit: contain;
    transform: translateY(-30%);
    @media screen and (max-width: $mobile-width) {
      margin-right: 0;
      margin-bottom: 0;
      transform: none;
    }
  }

  .InlineImage {
    display: inline-block;
    text-align: center;
    overflow: visible;
    right: 100%;
    height: 300px;
    position: absolute;
    top: 3em;
    width: 100%;
    max-width: 500px;
    box-sizing: border-box;
    padding-right: 3em;

    .label {
      color: $text-color-light;
      padding: 0 0.5em;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    @media screen and (max-width: $tablet-width) {
      position: relative;
      right: 0;
      top: 0;
      padding: 0;
    }
  }
}
