@use "src/utils" as *;

.AboutPage {
  text-align: center;
  position: relative;
  overflow: hidden;

  main {
    text-align: right;
    max-width: 500px;
  }
}

p {
  text-align: right;
}

.BezalelLogo {
  width: 7em;
  height: 7em;
  margin: 0.5em;
  display: block;
}
