@use "src/utils" as *;

.IntroPage {
  text-align: center;

  @media screen and (max-width: $mobile-width) {
    h1 {
      font-size: 5em !important;
    }
  }
  h1 {
    font-size: 7em;
    margin-bottom: 0;
    opacity: 0.9;
    font-weight: 400;
    line-height: 1em;
  }
  h2 {
    margin-top: 0;
  }

  p {
    text-align: center;
    font-weight: bold;
    margin: auto;
    margin-bottom: 2em;
    margin-top: 120px;
    padding: 1em;
    box-sizing: border-box;
  }
  .page {
    position: absolute;
    top: 50vh;
    transform: translateY(-50%);
    width: 100vw;
    box-sizing: border-box;
    z-index: 100;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
  }
}

.Skip {
  position: fixed;
  z-index: 101;
  bottom: 0;
  left: 0;
  padding: $body-padding;
}
