@use "src/utils" as *;

.IntroPage {
  text-align: center;
  h1 {
    font-size: 8em;
    margin-bottom: 0;
    opacity: 0.9;
  }
  h2 {
    margin-top: 0;
  }

  p {
    text-align: center;
    font-weight: bold;
    margin: auto;
    margin-bottom: 2em;
  }
  .page {
    padding-top: 30vh;
    height: 100vh;
    box-sizing: border-box;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
  }
}

.Skip {
  position: fixed;
  z-index: 101;
  bottom: 0;
  left: 0;
  padding: 1.5em;
}

.ProtoPlant {
  width: 50px;
  height: 50px;
  border-radius: 30% 70% 70% 30% / 30% 42% 58% 70%;
  background-color: #55814d;
  margin: 2em auto;

  &.minimized {
  }
}
