.App {
  text-align: center;
  direction: rtl;
}

.ContentRight {
  text-align: right;
  padding: 2em 3em;
  position: absolute;
  right: 0;
  top: 0;
  height: 100vh;
  width: 40vw;
  max-width: 400px;
  box-sizing: border-box;

  h1 {
    font-style: italic;
    font-size: 3em;
    font-weight: normal;
    margin-top: 0;
  }
}
