@use "src/utils" as *;

@font-face {
  font-family: ArbelHagilda;
  src: url("./fonts/ArbelHagildaRegular.otf");
  font-weight: 400;
}

@font-face {
  font-family: ArbelHagilda;
  src: url("./fonts/ArbelHagildaMedium.otf");
  font-weight: 600;
}

@font-face {
  font-family: ArbelHagilda;
  src: url("./fonts/ArbelHagildaBold.otf");
  font-weight: 800;
}

@font-face {
  font-family: "Hadassah Friedlaender";
  src: url("./fonts/HadassahFriedlaenderRegular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Hadassah Friedlaender";
  src: url("./fonts/HadassahFriedlaenderBold.ttf");
  font-weight: 600;
}

html {
  -webkit-text-size-adjust: none;
  touch-action: pan-y;
}

body {
  margin: 0;
  overflow-x: hidden;
  @include bg-noise;
  font-size: $base-font-size * 1rem;
  touch-action: pan-y;
}

input,
body,
button {
  direction: rtl;
  font-family: "ArbelHagilda", "Days", "Charter", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $text-color;
}

input,
button {
  font-size: 1em;
  border-radius: 0;
}

h1 {
  margin: 0.3em 0;
  font-kerning: none;
  font-size: 3.5em;
  font-weight: 400;
  font-family: "Hadassah Friedlaender";
}

h3 {
  font-size: 1em;
  margin-top: 2em;
}

p {
  line-height: 1.5em;
  max-width: 500px;
}

a {
  color: lighten($text-color, 35%);
  &:hover {
    text-decoration: none;
  }
}

main {
  max-width: 1400px;
  position: relative;
  margin: auto;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
