body {
  margin: 0;
  direction: rtl;
  font-family: "Days", "Charter", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f9f5f4;
  color: #303030;
}
