@use "src/utils" as *;

@font-face {
  font-family: ArbelHagilda;
  src: url("./fonts/ArbelHagildaRegular.otf");
  font-weight: 400;
}

@font-face {
  font-family: ArbelHagilda;
  src: url("./fonts/ArbelHagildaMedium.otf");
  font-weight: 600;
}

@font-face {
  font-family: ArbelHagilda;
  src: url("./fonts/ArbelHagildaBold.otf");
  font-weight: 800;
}

@font-face {
  font-family: "Hadassah Friedlaender";
  src: url("./fonts/HadassahFriedlaenderRegular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Hadassah Friedlaender";
  src: url("./fonts/HadassahFriedlaenderMedium.ttf");
  font-weight: 600;
}

html {
  -webkit-text-size-adjust: none;
  touch-action: pan-y;
}

body {
  @include bg-noise;

  margin: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  font-size: $base-font-size * 1rem;
  touch-action: pan-y;
}

input,
body,
button {
  font-family: "ArbelHagilda", "Days", "Charter", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $text-color;
  -webkit-tap-highlight-color: transparent;
}

::selection {
  background: rgba(#e2ddd2, 0.6);
}

input,
button {
  font-size: 1em;
  border-radius: 0;
}

h1 {
  margin: 0.3em 0;
  font-kerning: none;
  font-size: 3.5em;
  font-weight: 400;
  font-family: "Lexend";
  letter-spacing: -0.025em;
  // color: #b14408;
}

h2 {
  font-family: "Lexend";
  font-kerning: none;
  font-size: 2em;
  font-weight: normal;
  // font-weight: 600;
}

h3 {
  font-size: 1.3em;
  margin-bottom: 0.5em;
  margin-top: 1.5em;
}

ol li,
p {
  line-height: 1.5em;
  max-width: 500px;
  margin-block-start: 0.8em;
  margin-block-end: 0.8em;
}

a {
  color: lighten($text-color, 35%);
  // color: #1479b5;
  font-weight: 600;
  &:hover {
    text-decoration: none;
  }
}

main {
  max-width: 1400px;
  position: relative;
  margin: auto;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.PageContainer {
  text-align: center;
  position: relative;
  overflow: hidden;
  min-height: 100vh;
  box-sizing: border-box;

  main {
    text-align: left;
    max-width: 1000px;
    padding: 0 10em;

    @media screen and (max-width: $tablet-width) {
      padding-top: 5em;
    }
  }
}
