@use "src/utils" as *;

.Logo {
  position: fixed;
  top: -0.1em;
  width: 100vw;
  text-align: center;
  font-size: 6em;
  pointer-events: none;
}

.Help {
  position: fixed;
  z-index: 101;
  top: 0;
  right: 0;
  padding: 1.5em;
}
